<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['/main']">ExamCommerce</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['punto-venta']" routerLinkActive="active">Punto de venta</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['clientes']" routerLinkActive="active">Clientes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['empleados']" routerLinkActive="active">Empleados</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['productos']" routerLinkActive="active">Productos</a>
        </li>
        </ul>
      </div>
    </div>
  </nav>
