<h1 class="display-5">Nuevo Cliente</h1>

<div class="card col">
  <div class="card-body">
    <form [formGroup]="clienteForm" (ngSubmit)="crearCliente()" autocomplete="off">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Tarjeta</label>
        <input type="text" class="form-control" formControlName="tarjetaCredito" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Nombre</label>
        <input type="text" class="form-control" formControlName="nombre" id="exampleInputPassword1">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Apellido</label>
        <input type="text" class="form-control" formControlName="apellido" id="exampleInputPassword1">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Fecha de Nacimiento</label>
        <input type="date" class="form-control" formControlName="fechaDeNacimiento" id="exampleInputPassword1">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">DNI</label>
        <input type="text" class="form-control" formControlName="dni" id="exampleInputPassword1">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Edad</label>
        <input type="number" class="form-control" formControlName="edad" id="exampleInputPassword1">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>

