<h1 class="display-5">Punto de Venta</h1>

<div class="form-group row">
        <div class="col">
            <label for="exampleInputEmail1">Empleado</label>
            <input type="Text" #txtLegajo name="txtLegajo" class="form-control" id="txtLegajo" aria-describedby="emailHelp" placeholder="Introduzca su legajo">
            <div class="card col" *ngIf="empleado">
                <div class="card-body">
                  <h5 class="card-title">{{empleado.nombre}} {{empleado.apellido}}</h5>
                  <p class="card-text">{{empleado.dni}}</p>
                </div>
            </div>
            <button class="btn btn-primary mt-3" (click)="cargarEmpleado(txtLegajo.value)">Confirmar</button>
        </div>
        <div class="col">
            <label for="exampleInputPassword1">Cliente</label>
            <input type="text" #txtTarjeta name="txtTarjeta" id="txtTarjeta" class="form-control" id="exampleInputPassword1" placeholder="Introduzca el numero de tarjeta">
            <div class="card col" *ngIf="cliente">
                <div class="card-body">
                  <h5 class="card-title">{{cliente.nombre}} {{cliente.apellido}}</h5>
                  <p class="card-text">{{cliente.dni}}</p>
                </div>
            </div>
            <button class="btn btn-primary mt-3" (click)="cargarCliente(txtTarjeta.value)">Confirmar</button>
        </div>
</div>
<br>
<div class="form-group col-12">
    <label for="exampleInputPassword1">Producto</label>
    <input type="text" #txtCodigo name="txtCodigo" id="txtCodigo" class="form-control" id="exampleInputPassword1" placeholder="Introduzca el codigo del producto">
    <button class="btn btn-primary mt-3" (click)="cargarProducto(txtCodigo.value)">Confirmar</button>
</div>
<br>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col"></th>
            <th scope="col">Producto</th>
            <th scope="col">Precio</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Subtotal</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let detalle of detalles, let i = index">
            <td>{{i + 1}}</td>
            <td>{{detalle.nombreProducto}}</td>
            <td>{{detalle.precioUnitario}}</td>
            <td>{{detalle.cantidad}}</td>
            <td>{{detalle.precioUnitario * detalle.cantidad}}</td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-danger" (click)="disminuirDetalle(detalle)">-</button>
                    <button type="button" class="btn btn-success" (click)="aumentarDetalle(detalle)">+</button>
                </div>
            </td>
            <td>
                <button class="btn btn-danger" (click)="quitarProducto(i)">Remover</button>
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><strong>Total = {{total}}</strong></td>
        </tr>
    </tbody>
</table>
<br>
<div class="form-group col-6">
    <button class="btn btn-primary" [disabled]="!cliente || !empleado || detalles.length < 1" (click)="realizarVenta()">Realizar Venta</button>
</div>

